<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCciGeMjlYc1tVmcLa1Mi55kq0l3-kzFvM</string>
	<key>GCM_SENDER_ID</key>
	<string>315145642881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pix.print.app</string>
	<key>PROJECT_ID</key>
	<string>pixprintapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pixprintapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315145642881:ios:cf1b9567689efc9b4c7e80</string>
</dict>
</plist>